.detal_product {
    &-name {
        font-weight: 400;
    }
    &-cost {
        &-current {
            color: $text_color_hover;
            display: inline-block;
            margin-right: 1ch;
        }
        &-old {
            color: gray;
            text-decoration: line-through;
        }
    }
    .pick_variant {
        .btn_pick_variant {
            display: inline-block;
            cursor: pointer;
            padding: 2.5px 5px;
            margin: 2.5px;
            border-radius: 5px;
            border: 1.5px solid rgb(199, 199, 199);
            &:hover {
                color: $text_color_hover;
            }
        }
        .active_btn_opt {
            color: $text_color_hover;
            border-color: $text_color_hover;
        }
    }
}

.order_product {
    &-quantity {
        display: inline-flex;

        span {
            display: inline-block;
            padding: 1px 9px;
            border: 1px solid gray;
            border-radius: 5px;
            margin: 0 5px;
            cursor: pointer;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none;
            &:hover {
                color: $text_color_hover;
                border-color: $text_color_hover;
            }
            &:active {
                font-weight: bold;
            }
        }

        &-num {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type="number"] {
                -moz-appearance: textfield;
            }
            text-align: center;
            padding: 5px 15px;
            width: 62px;
            border: 1px solid gray;
            border-radius: 5px;
        }
    }
    .order_product-btns {
        display: inline-block;
    }
    &-btn_cart {
        display: none;
        margin-left: 1em;
        width: fit-content;
        padding: 10px 20px;
        border: 1px solid #9e9e9e;
        background-color: #9e9e9e;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }
    &-btn_order {
        margin-left: 1em;
        display: inline-block;
        width: fit-content;
        padding: 10px 20px;
        border: 1px solid $text_color_hover;
        background-color: $text_color_hover;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            color: $text_color_hover;
            background: #fff;
        }
    }
}

.alert_box {
    display: flex;
    position: fixed;
    top: -100px;
    left: 0;
    justify-content: center;
    width: 100%;
    z-index: 10000000;
    align-items: center;
    transition: 0.3s;
    .alert_content {
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
    }
    &.success {
        .alert_content {
            background: #d1e7dd;
            color: #0f5132;
            border: 1px solid #badbcc;
            box-shadow: 1px 0px 10px 0px #badbcc;
        }
    }
    &.error {
        .alert_content {
            color: #842029;
            background-color: #f8d7da;
            border-color: #f5c2c7;
            box-shadow: 1px 0px 10px 0px #f5c2c7;
        }
    }
    &.warning {
        .alert_content {
            color: #664d03;
            background-color: #fff3cd;
            border-color: #ffecb5;
            box-shadow: 1px 0px 10px 0px #664d03;
        }
    }
}

@media (max-width: 47.9375em) {
    .detal_product {
        .trademark {
            font-size: smaller;
        }
        .product_infor {
            display: none;
        }
        .opt_btns {
            text-align: center;
        }
        .order_product {
            text-align: center;
            padding-bottom: 50px;
        }
        .order_product-btns {
            margin: 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            display: flex;
            z-index: 1000000;
        }
        .order_product-btn_cart,
        .order_product-btn_order {
            display: block;
            width: 50%;
            margin: 0;
            border-radius: 0;
        }
    }
}
