.card_news {
    margin-bottom: 30px;
    max-width: 376px;
    .thumb {
        width: 100%;
        position: relative;
        img {
            width: inherit;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        .date {
            position: absolute;
            border-radius: 50%;
            background-color: $text_color_hover;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 80px;
            height: 80px;
            top: 8px;
            left: 8px;
            span {
                display: block;
                width: 100%;
                text-align: center;
            }
            .day {
                font-weight: 700;
            }
            .month {
                font-size: small;
            }
        }
    }
    .title {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 12px 0px;
        cursor: pointer;
        &:hover {
            color: $text_color_hover;
        }
    }
    .author {
        display: flex;
        align-items: center;
        span {
            margin-right: 12px;
            &:first-child {
                color: $text_color_hover;
            }
            &:last-child {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .news_content {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }
}
