.cart_page {
    &-table {
        border: 1px solid $text_color_hover;
        border-radius: 5px;
        padding: 20px;
    }
    &-headtable {
        text-align: center;
        font-weight: bold;
        margin: 15px 0px;
        padding-bottom: 15px;
        border-bottom: 1px solid $text_color_hover;
    }
    .cart_total_price {
        font-size: x-large;
        color: $text_color_hover;
        font-weight: 400;
        text-align: right;
        padding: 20px 10px;
        & > span {
            &::before {
                content: "Tổng cộng:    ";
            }
        }
    }
}
@media only screen and (max-width: 769px) {
    .cart_page {
        &-table {
            border: none;
            padding: 0px;
        }
        &-headtable {
            display: none;
        }

        .cart_total_price {
            padding: 0px;
        }
    }
    .btn-red {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    .btn-gray {
        width: 100%;
        text-align: center;
        margin: 0px;
    }
}
