.home {
    h1 {
        color: red;
    }
    .box_title {
        text-align: center;
        h4 {
            text-transform: uppercase;
        }
        p {
            font-size: smaller;
        }
    }
}
