.lien_he {
    margin-top: 30px;
    margin-bottom: 30px;
    .contact-info {
        .address {
            margin-bottom: 20px;
        }
        .phone {
            margin-bottom: 20px;
            .phone-number {
                cursor: pointer;
                &:hover {
                    color: $text_color_hover;
                }
            }
        }
        .email {
            margin-bottom: 20px;
        }
        .icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            color: #f6470e;
            background: white;
            border: 1px solid red;
            border-radius: 50%;
            margin-right: 10px;
        }
        ul {
            list-style: none;
        }
        ol,
        ul {
            padding-left: 30px;
        }
    }
    .get-customer-info {
        margin-left: 30px;
        margin-top: 30px;
        input {
            margin-bottom: 10px;
            width: 100%;
            padding: 15px 15px 15px 15px;
            border-radius: 5px;
            border: solid 0.5px;
        }
        button {
            margin-top: 10px;
            padding: 20px 30px 20px 30px;
            background-color: #f6470e;
            color: white;
            border: none;
            border-radius: 5px;
        }
    }
}

@media only screen and (max-width: 769px) {
    .lien_he {
        .contact-info {
            ul {
                padding-left: 15px;
                padding-right: 10px;
            }
        }
        .get-customer-info {
            .information {
                padding-left: 0px;
                padding-right: 25px;
            }
        }
        .map {
            margin-top: 20px;
            padding-left: 17px;
            padding-right: 15px;
            .gg-map {
                height: 250px;
            }
        }
    }
}
