.quy_dinh_su_dung {
    text-align: justify;
    font-size: 15px;
    h1 {
        margin: 40px 0 20px 0;
        font-size: 40px;
        cursor: pointer;
        &:hover {
            color: $text_color_hover;
        }
    }
    p {
        margin-bottom: 15px;
    }
    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ol {
        font-weight: bold;
    }
    ul {
        li {
            list-style-type: disc;
            font-weight: normal;
        }
    }
}
