.account {
    margin-bottom: 60px;
    .information_card {
        height: 90%;
        .avatar-wrapper {
            position: relative;
            height: 110px;
            width: 110px;
            margin: 15px auto;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px -1px 10px 0px #00968847;
            transition: all 0.3s ease;
            .content_center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .avatar {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

                .user_no_img {
                    text-transform: uppercase;
                    background: $text_color_hover;
                    color: white;
                    font-size: 50px;
                    display: flex;
                }
            }
            .upload_button {
                transition: inherit;
                opacity: 0;
            }
            .input_file_upload {
                opacity: 0;
                cursor: pointer;
            }

            &:hover {
                transform: scale(1.05);
                .upload_button {
                    opacity: 1;
                    background: rgba(87, 165, 69, 0.5);
                }
            }
        }
        .information {
            box-shadow: 0px -1px 10px 0px #00968847;
            border-radius: 5px;
            padding: 85px 15px 15px 15px;
            margin-top: -76px;
            text-align: center;
            height: 100%;
        }
    }
    .add_address {
        position: relative;
        cursor: pointer;
        &:hover {
            svg {
                transform: scale(1.15);
            }
        }
        &::before {
            position: absolute;
            transition: 0.3s;
            content: "Thêm địa chỉ";
            display: block;
            white-space: nowrap;
            width: max-content;
            color: $text_color;
            font-size: 15px;
            border-radius: 5px;
            overflow: hidden;
            right: 30px;
            top: 0px;
            padding: 5px;
            background: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            top: 9px;
            right: 25px;
            display: block;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            background-color: rgb(255, 255, 255);
        }
    }
    .list_address {
        overflow: auto;
    }
    .history_orders {
        overflow: auto;
    }
    .table_data {
        width: 100%;
        padding: 0px 10px;
        div.row {
            width: 100%;
        }
        .table_row {
            padding: 5px 0px;
        }
        .table_header {
            font-weight: bold;
        }
        .icon_function {
            margin: 0px 6px;
            cursor: pointer;
            opacity: 0.7;
            &.eye {
                &:hover {
                    color: rgb(0, 123, 255);
                    opacity: 1;
                }
            }
            &.edit {
                :hover {
                    color: rgb(255, 174, 0);
                    opacity: 1;
                }
            }
            &.remove {
                :hover {
                    color: rgb(255, 25, 0);
                    opacity: 1;
                }
            }
        }
    }
}

.edit_btn {
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    border-radius: 5px;
    padding: 2.5px 5px;
    cursor: pointer;
    &:hover {
        color: $text_color_hover;
        border-color: $text_color_hover;
    }
}

.overflow_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.address_modal {
    max-width: 670px;
    margin: 0 auto;
    padding: 20px 0px;
}
