@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
    color: $text_color_hover;
}

h1,
h2,
h3,
h4,
p {
    margin: 5px 0px;
}
.box_title {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #57a545;
    color: #fff;
    margin: 15px 0px;
}

.user-not-selected {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
}

.btn-gray {
    background-color: #ebebeb;
    color: #252525;
    padding: 12px 40px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px 10px;
    &:hover {
        color: #fff;
        background-color: #252525;
    }
}
.btn-red {
    background-color: $text_color_hover;
    display: inline-block;
    color: #fff;
    padding: 12px 40px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px 10px;
    &:hover {
        color: #fff;
        background-color: #cd3808;
    }
}
.no_pading_col > div {
    padding: 0px;
}

img {
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
