@keyframes toggle_submenu {
    0% {
        transform: perspective(600px) rotateX(-90deg);
    }
    100% {
        transform: perspective(600px) rotateX(0deg);
    }
}

@keyframes toggle_sidebar {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes alertShow {
    0% {
        opacity: 0;
        transform: (-200px);
    }
    100% {
        opacity: 1;
        transform: (0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}
