@import "base_variables";
@import "base_styles";

@import "../../components/layout/layout";
@import "../../components/layout/header/header";
@import "../../components/layout/footer/footer";
@import "../../components/layout/sidebar/sidebar";

@import "../../components-share/Card/CardProduct/card_product";
@import "../../components-share/Card/CardReview/card_review";
@import "../../components-share/Carousel/carousel_products";
@import "../../components-share/Modal/ModalReviewProduct/modal_review_product";
@import "../../components-share/Modal/ModalReviewCart/modal_review_cart";
@import "../../components-share/Cart/cart_item/cart_item";
@import "../../components-share/Modal/modal_layout";
@import "../../components-share/Cart/cart_item_review/cart_item_review";

@import "./pages/homepage";
@import "./pages/loginpage";
@import "./pages/cartpage";
@import "./pages/sanpham";
