.modal_custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $Z_index_sidebar;
    padding-top: 35px;
    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.5);
        animation: fadeOut 0.2s;
    }
    &-content {
        min-width: 250px;
        min-height: 150px;
        max-height: 570px;
        background-color: #fff;
        position: relative;
        animation: zoomOut 0.3s;
        padding: 0;
        border-radius: 5px;
        .modal_custom-close {
            position: absolute;
            right: -15px;
            top: -17px;
            cursor: pointer;
            color: #fff;
        }
        .main_content {
            // padding: 20px;
            overflow: auto;
            margin: 0;
            max-height: inherit;
            .custom_carousel {
                .thumbs-wrapper {
                    margin: 0;
                    button.control-arrow {
                        background: #000000;
                        padding: 5px;
                        margin-top: -23px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 580px) {
    .modal_custom {
        &-content {
            .modal_custom-close {
                right: 5px;
                top: -20px;
            }
        }
    }
}
