.detal_product {
    &-name {
        font-weight: 400;
    }
    &-cost {
        &-current {
            color: $text_color_hover;
            display: inline-block;
            margin-right: 1ch;
        }
        &-old {
            color: gray;
            text-decoration: line-through;
        }
    }
}

.order_product {
    &-quantity {
        display: inline-block;

        span {
            display: inline-block;
            padding: 1px 9px;
            border: 1px solid gray;
            border-radius: 5px;
            margin: 0 5px;
            cursor: pointer;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none;
            &:hover {
                color: $text_color_hover;
                border-color: $text_color_hover;
            }
            &:active {
                font-weight: bold;
            }
        }

        &-num {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &[type="number"] {
                -moz-appearance: textfield;
            }
            text-align: center;
            padding: 5px 15px;
            width: 62px;
            border: 1px solid gray;
            border-radius: 5px;
        }
    }
    &-btn_order {
        margin-left: 1em;
        display: inline-block;
        width: fit-content;
        padding: 10px 20px;
        border: 1px solid $text_color_hover;
        background-color: $text_color_hover;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            color: $text_color_hover;
            background: #fff;
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
