.social_contact {
    position: fixed;
    bottom: 150px;
    left: 5px;
    height: 140px;
    display: block;
    z-index: 100000;
    .social_contact_icon {
        cursor: pointer;
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 2px solid;
        background: rgba(#fff, 0.8);
        transition: 0.3s;
        & > div {
            width: 22px;
            height: 22px;
        }
        svg {
            width: 25px;
            height: 25px;
        }
        &:first-child {
            opacity: 0;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            opacity: 0;
        }
        &:nth-child(4) {
            opacity: 0;
        }
        &:last-child {
            animation: tada 2s infinite;
        }
    }
    &:hover {
        width: 100px;
        & > .social_contact_icon:first-child {
            opacity: 1;
            top: -5px;
        }
        & > .social_contact_icon:nth-child(2) {
            top: 23px;
            opacity: 1;
            left: 49px;
        }
        & > .social_contact_icon:nth-child(3) {
            top: 79px;
            opacity: 1;
            left: 49px;
        }
        & > .social_contact_icon:nth-child(4) {
            opacity: 1;
            top: 105px;
        }
    }
}
